                
                body {
                    font-family: Arial, sans-serif;
                    background-color: #f0f8ff;
                    color: #333;
                    margin: 0;
                    padding: 0;
                    background-image: url('mybackground.jpg');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat,repeat;
                    
                    
                }
                .top-nav {
                                background-color: #ffcc00;
                                padding: 20px;
                                text-align: right;
                               
                                }
                 .top-nav img {
                                     float: left;
                                    border-radius: 50%
                                    
                                } 
               
                
                
                .top-nav a ,
                .bottom-nav a {
                                color: white;
                                text-decoration: none;
                                margin-left:  10px;
                                background-color: #eee347;
                                padding: 8px 12px;
                                border-radius: 4px;
                                border: none;
                }

                main {
                    padding: 20px;
                    text-align:center;
                }

               
                
                .bottom-nav {
                                background-color: #ffcc00;
                                padding: 20px;
                                text-align: center;
                }
                

            
